<html>
<head>
    <title>Fininga API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            height: 100%;
            width: 100%;
            position: fixed;
            background: #232e41;
        }

        #hero {
            height: 200px;
            width: 400px;
            position: fixed;
            top: 40%;
            left: 50%;
            margin-top: -150px;
            margin-left: -200px;
            text-align: center;
            color: white;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 20px;
        }
    </style>
</head>
<body>
<div id="hero">
    <img src="https://www.perspectico.com/wp-content/uploads/2018/06/mobi_logo_p.png" alt="" style="height: 100px;">
    <p>
        AapKaun API GATEWAY<br>
        <span style="color: #00b200;">Health Good!</span>
    </p>
</div>
</body>
</html>
